{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This is a healthcare application that tracks covid deaths on ages 0-18 years.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features of the data</h2>
        <ul class="list-disc pl-5">
            <li>Data as of</li>
            <li>Age group</li>
            <li>COVID-19 Deaths</li>
            <li>Indicator</li>
            <li>Sex</li>
            <li>Race or Hispanic Origin Group</li>
            <li>Start Week</li>
            <li>End Week</li>
    
        </ul>
    </section>



{% endblock %}

